.inline,
a {
    display: inline-block;
}
ol,
ul {
    padding-left: 0;
}
.uppercase,
h4,
table th,
table thead th {
    text-transform: uppercase;
}
@font-face {
    font-family: Favorit;
    font-style: normal;
    font-weight: 400;
    src: url("fonts/favorit-regular.eot-.html#iefix") format("embedded-opentype"), url("fonts/favorit-regular.woff2") format("woff2"), url("fonts/favorit-regular.woff") format("woff"), url("fonts/favorit-regular.ttf") format("truetype");
}
@font-face {
    font-family: Favorit;
    font-style: italic;
    font-weight: 400;
    src: url("fonts/favorit-regular.eot-.html#iefix") format("embedded-opentype"), url("fonts/favorit-regular.woff2") format("woff2"), url("fonts/favorit-regular.woff") format("woff"), url("fonts/favorit-regular.ttf") format("truetype");
}
@font-face {
    font-family: Favorit;
    font-style: normal;
    font-weight: 700;
    src: url("fonts/favorit-regular.eot-.html#iefix") format("embedded-opentype"), url("fonts/favorit-regular.woff2") format("woff2"), url("fonts/favorit-regular.woff") format("woff"), url("fonts/favorit-regular.ttf") format("truetype");
}
@font-face {
    font-family: Favorit;
    font-style: italic;
    font-weight: 700;
    src: url("fonts/favorit-regular.eot-.html#iefix") format("embedded-opentype"), url("fonts/favorit-regular.woff2") format("woff2"), url("fonts/favorit-regular.woff") format("woff"), url("fonts/favorit-regular.ttf") format("truetype");
}
@font-face {
    font-family: Circular;
    font-style: normal;
    font-weight: 400;
    src: url("fonts/Circular-Book-.eot#iefix") format("embedded-opentype"), url("fonts/Circular-Book.woff2") format("woff2"), url("fonts/Circular-Book.woff") format("woff"), url("fonts/Circular-Book.ttf") format("truetype");
}
@font-face {
    font-family: Circular;
    font-style: normal;
    font-weight: 700;
    src: url("fonts/Circular-Black-.eot#iefix") format("embedded-opentype"), url("fonts/Circular-Black.woff2") format("woff2"), url("fonts/Circular-Black.woff") format("woff"), url("fonts/Circular-Black.ttf") format("truetype");
}
@font-face {
    font-family: Circular;
    font-style: normal;
    font-weight: 600;
    src: url("fonts/circular-bold.eot-.html#iefix") format("embedded-opentype"), url("fonts/circular-bold.woff2") format("woff2"), url("fonts/circular-bold.woff") format("woff"), url("fonts/circular-bold.ttf") format("truetype");
}
@keyframes textPulse {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
}
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font: 10px/1.4 Circular, "Open sans", sans-serif;
}
@media only screen and (max-width: 47.9375em) {
    html {
        font-size: 9px;
    }
}
@media only screen and (min-width: 48em) {
    html {
        font-size: 9px;
    }
}
@media only screen and (min-width: 68.75em) {
    html {
        font-size: 10px;
    }
}
.footer,
.header,
.main,
footer,
header {
    font-size: 16px;
    font-size: 1.6rem;
}
code,
pre {
    font-family: "DejaVu Sans Mono", Monaco, Consolas, monospace;
    white-space: pre-wrap;
}
address,
dl,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
p,
pre,
table,
ul {
    margin-bottom: 0.8em;
}
hr {
    border: 0 solid #e2e2e2;
    border-top-width: 1px;
    clear: both;
    height: 0;
    margin: 1em 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Circular, Open sans, sans-serif;
    font-weight: 700;
    margin-bottom: 0.2em;
    margin-top: 1em;
}
h1.title,
h2.title,
h3.title,
h4.title,
h5.title,
h6.title {
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.025em;
    -webkit-text-stroke-color: currentColor;
    letter-spacing: 0.025em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
h4,
h5 {
    letter-spacing: 0.1em;
}
@media print {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #000 !important;
    }
    h1.icon,
    h2.icon,
    h3.icon,
    h4.icon,
    h5.icon,
    h6.icon {
        fill: #000 !important;
    }
}
h1 {
    font-size: 2.143em;
    margin-top: 0.5em;
}
h1.page-title {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
h2,
h3 {
    margin-bottom: 0.8em;
}
blockquote p:last-child,
ol ol,
ol ul,
ul ol,
ul ul {
    margin-bottom: 0;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
    font-weight: 600;
}
h4 {
    font-size: 1.25em;
}
h5 {
    font-size: 1em;
}
h6 {
    font-size: 0.75em;
}
a {
    text-decoration: none;
    color: currentColor;
    position: relative;
    opacity: 1;
    animation: textPulse 1s;
}
a:hover {
    color: #646464;
}
.underline {
    border-bottom: 1px solid rgba(226, 226, 226, 0.4);
    padding-bottom: 0.4em;
}
.inline {
    margin-right: 0.3em;
}
ul {
    list-style: disc;
}
ol,
ul {
    line-height: 1.7em;
}
ol > li,
ul > li {
    margin-left: 1em;
}
ol {
    list-style: decimal;
}
ol ol {
    list-style: lower-alpha;
}
b,
strong {
    font-weight: 700;
}
p {
    line-height: 1.8;
    font-family: Circular, "Open sans", sans-serif;
}
p.lead_paragraph {
    font-size: 3em;
    line-height: 1.1666;
    font-family: Circular, Open sans, sans-serif;
}
svg {
    fill: currentColor;
}
table {
    width: 100%;
    border: none;
}
table tfoot td,
table tfoot th,
table thead td,
table thead th {
    font-weight: 700;
    color: #e2e2e2;
    border: 1px solid #e2e2e2;
}
table th,
table thead th {
    padding: 1.2em;
    color: #646464;
}
table td,
table th {
    padding: 1.2em;
    border: 1px solid;
    vertical-align: middle;
}
blockquote {
    font-size: 1.143em;
    line-height: 1.563;
}
.lowercase {
    text-transform: none;
}
.text-align-left {
    text-align: left;
}
.text-align-center {
    text-align: center;
}
.text-align-right {
    text-align: right;
}
.small {
    font-size: 0.8em;
}
.big {
    font-size: 1.3em;
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(226, 226, 226, 0.6);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(226, 226, 226, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(226, 226, 226, 0);
    }
}
@keyframes bodyFadeIn {
    0%,
    50% {
        background-color: #e2e2e2;
    }
    100% {
        background-color: #000;
    }
}
@keyframes logoFadeIn {
    0%,
    50% {
        color: #000;
    }
    100% {
        color: #e2e2e2;
    }
}
body {
    padding: 0;
    margin: 0;
    background-color: #000;
    color: #e2e2e2;
    cursor: none !important;
    animation: bodyFadeIn 2s;
}
body a {
    cursor: none;
}
body .header__logo {
    animation: logoFadeIn 2s;
}
body .cursor {
    position: absolute;
    height: 0;
    width: 0;
    padding: 6px;
    border-radius: 100%;
    background: #e2e2e2;
    pointer-events: none;
    color: #000;
    transition: height 0.2s, width 0.2s;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1000;
    white-space: nowrap;
}
body .cursor.active {
    animation: pulse 1s infinite;
}
@media (any-hover: none) {
    body .cursor {
        display: none;
    }
}
body ::selection {
    color: #646464;
    background: 0 0;
}
.wrapper {
    padding: 48px;
}
@media only screen and (min-width: 48em) and (max-width: 68.6875em) {
    .wrapper {
        padding: 36px;
    }
}
@media only screen and (max-width: 47.9375em) {
    .wrapper {
        padding: 24px;
    }
}
.button,
a.button,
button,
input[type="submit"],
input[type="button"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 0.8125em;
    font-weight: 400;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    letter-spacing: -0.013em;
    display: inline-block;
    cursor: none;
    margin: 0;
    padding: 1em 1.25em;
    color: currentColor;
    transition: 0.2s;
    border: 1px solid currentColor;
}
.button:after,
a.button:after,
button:after,
input[type="submit"]:after,
input[type="button"]:after {
    content: none;
}
.button:hover,
a.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
    color: #646464;
}
.button.disabled,
.button.disabled:hover,
.button:disabled,
.button:disabled:hover,
.button:disabled[disabled],
.button:disabled[disabled]:hover,
a.button.disabled,
a.button.disabled:hover,
a.button:disabled,
a.button:disabled:hover,
a.button:disabled[disabled],
a.button:disabled[disabled]:hover,
button.disabled,
button.disabled:hover,
button:disabled,
button:disabled:hover,
button:disabled[disabled],
button:disabled[disabled]:hover,
input[type="submit"].disabled,
input[type="submit"].disabled:hover,
input[type="submit"]:disabled,
input[type="submit"]:disabled:hover,
input[type="submit"]:disabled[disabled],
input[type="submit"]:disabled[disabled]:hover,
input[type="button"].disabled,
input[type="button"].disabled:hover,
input[type="button"]:disabled,
input[type="button"]:disabled:hover,
input[type="button"]:disabled[disabled],
input[type="button"]:disabled[disabled]:hover {
    cursor: default;
    pointer-events: none;
    opacity: 0.5;
}
.button.small-btn,
a.button.small-btn,
button.small-btn,
input[type="submit"].small-btn,
input[type="button"].small-btn {
    font-size: 0.7em;
}
.header {
    position: relative;
}
.header .nav-toggle {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    z-index: 15;
}
.nav-active .header .nav-toggle.open {
    display: none;
}
.home .header {
    /*min-height: calc(100vh - 48px);*/
    margin-bottom: 24px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}
.home .header .content {
    -ms-flex: .5 auto;
    flex: .5 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
}
.header .header__logo {
    margin: 0;
    position: relative;
    z-index: 15;
    display: inline-block;
    width: auto;
    max-width: 75%;
}
.nav-active .header .header__logo {
    color: #000;
}
.header .header__logo a:after {
    content: none;
}
.header .content {
    font-size: 2vmin;
    height: 100%;
}
@media only screen and (min-width: 48em) {
    .header .content {
        width: 75%;
    }
}
.header .modal-nav {
    box-sizing: border-box;
    padding: 48px;
    display: block;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    color: #000;
    visibility: hidden;
    pointer-events: none;
}
@media only screen and (min-width: 48em) and (max-width: 68.6875em) {
    .header .modal-nav {
        padding: 36px;
    }
}
@media only screen and (max-width: 47.9375em) {
    .header .modal-nav {
        padding: 24px;
    }
}
.nav-active .header .modal-nav {
    visibility: visible;
    pointer-events: all;
}
.header .modal-nav .inner-modal-nav {
    position: relative;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.header .modal-nav .inner-modal-nav nav {
    padding-top: 1.6rem;
    text-align: right;
    font-size: 8vmin;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}
.header .modal-nav .inner-modal-nav .contacts {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.footer {
    padding: 24px 0;
}
.signup-form {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 20;
    box-sizing: border-box;
    background-color: #000;
    display: -ms-flexbox;
    display: flex;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    transition: 0.2s;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 24px;
}
.page-template-template-college .cursor,
.signup-form form button {
    display: none;
}
.signup-form.active {
    visibility: visible;
    opacity: 1;
    -ms-transform: scale(1);
    transform: scale(1);
    pointer-events: all;
}
.signup-form .signup-form-inner {
    width: 100%;
}
.signup-form .signup-form-inner .signup_description {
    font-size: 3.5vmin;
    text-align: center;
}
.signup-form .close-modal {
    position: absolute;
    top: 24px;
    right: 24px;
}
.signup-form form input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: 0 0;
    border: none;
    width: 100%;
    font-size: 5vw;
    text-align: center;
    color: #e2e2e2;
    outline: 0;
    cursor: none;
}
.page-template-template-college {
    background-color: #000;
    color: rgba(255, 255, 255, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: none;
    cursor: auto !important;
}
.page-template-template-college .wrapper {
    position: relative;
    z-index: 5;
}
.page-template-template-college a,
.page-template-template-college input {
    cursor: auto !important;
}
.page-template-template-college .page-content {
    font-size: 1.8rem;
    max-width: 700px;
    box-sizing: border-box;
    margin: auto;
    padding: 60px;
    position: relative;
    z-index: 10;
}
.page-template-template-college .page-content h1 {
    font-size: 64px;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
    color: #fff;
    font-weight: 600;
}
.page-template-template-college .page-content h1:before {
    content: "";
    vertical-align: middle;
    display: inline-block;
    height: 1em;
    width: 1em;
    margin-right: 0.2em;
    background-image: url("../images/blocks-logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.block-list .column-list li a:after,
.block-post_list .post-list li a:after,
.block-yay-nae .yay-nae-cta .actions a:after {
    content: none;
}
@media only screen and (max-width: 47.9375em) {
    .page-template-template-college .page-content {
        padding: 32px;
    }
    .page-template-template-college .page-content h1 {
        font-size: 56px;
    }
    .page-template-template-college .college-background .circle {
        --size: 20vw;
    }
}
.page-template-template-college .page-content .gform_confirmation_message {
    margin: 3em auto;
    text-align: center;
}
.page-template-template-college .page-content form label {
    display: none !important;
}
.page-template-template-college .page-content form .gfield {
    padding: 0 !important;
    background: 0 0 !important;
}
.page-template-template-college .page-content form .validation_message,
.page-template-template-college .page-content form div.validation_error,
.page-template-template-college .page-content form li.gfield_error input {
    color: #e35142 !important;
    border-color: #e35142 !important;
}
.page-template-template-college .page-content form li.gfield_error input {
    border: none !important;
    border-bottom-style: solid !important;
    border-bottom-width: 2px !important;
}
.page-template-template-college .page-content form input {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    color: #fff;
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
    background: 0 0;
    width: 100% !important;
    outline: 0;
    padding: 0 0 0.8em !important;
    margin-bottom: 1em;
    transition: 0;
}
.page-template-template-college .page-content form input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}
.page-template-template-college .page-content form input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}
.page-template-template-college .page-content form input[type="submit"] {
    background: #fff;
    border: 2px solid #fff;
    color: #000;
    padding: 0.8em 0.5em !important;
    border-radius: 0.3em;
    font-size: 1.2em;
    font-family: Circular, Open sans, sans-serif;
    font-weight: 600;
}
.page-template-template-college .page-content form input[type="submit"]:hover {
    background: #000;
    color: #fff;
}
.page-template-template-college .page-content .socials {
    display: block;
    list-style: none;
    text-align: center;
    margin: 1.5em 0 0;
}
.page-template-template-college .page-content .socials li {
    display: inline-block;
    margin: 0 0.8em;
    padding: 0;
}
.page-template-template-college .page-content .socials li a {
    display: block;
    height: 1.5em;
    width: 1.5em;
    color: rgba(255, 255, 255, 0.5);
}
.page-template-template-college .page-content .socials li a:hover {
    color: rgba(255, 255, 255, 0.5);
    opacity: 1 !important;
}
.page-template-template-college .page-content .socials li a svg {
    height: 100%;
    width: 100%;
}
.page-template-template-college .college-background {
    position: absolute;
    pointer-events: none;
    z-index: 0;
    top: 0;
    left: 0;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.page-template-template-college .college-background .bg-element {
    position: absolute;
    z-index: 0;
}
.page-template-template-college .college-background .circle {
    --size: 15vw;
    color: #149147;
    bottom: 15%;
    left: 5%;
    width: var(--size);
    height: var(--size);
}
.page-template-template-college .college-background .square {
    --size: 40vw;
    color: #f9a31a;
    bottom: 0;
    right: 0;
    -ms-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
    width: var(--size);
    height: var(--size);
}
.page-template-template-college .college-background .rectangle {
    --size: 15vw;
    color: #2b40aa;
    top: 0;
    right: 0;
    -ms-transform: translate(0, -35%);
    transform: translate(0, -35%);
    width: var(--size);
    height: calc(var(--size) * 2.65);
}
.page-template-template-college .college-background .triangle {
    --size: 30vw;
    color: #e35142;
    top: 0;
    left: 0;
    -ms-transform: translate(-40%, -30%) rotate(-30deg);
    transform: translate(-40%, -30%) rotate(-30deg);
    width: var(--size);
    height: calc(var(--size) * 1.1);
}
@media only screen and (max-width: 47.9375em) {
    .page-template-template-college .college-background .square {
        --size: 45vw;
    }
    .page-template-template-college .college-background .rectangle {
        --size: 20vw;
    }
    .page-template-template-college .college-background .triangle {
        --size: 35vw;
    }
}
.block {
    margin: 168px auto;
}
.block .block-heading {
    text-align: center;
    margin-bottom: 2.667em;
}
.block-list .column-list {
    list-style: none;
    margin: 0;
    padding: 0;
    columns: 200px 4;
    column-gap: 1em;
    color: #646464;
}
.block-list .column-list li {
    padding: 0;
    margin: 0;
}
.block-post_list .post-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 13vmin;
}
.block-cta .button,
.block-yay-nae .yay-nae-cta {
    font-size: 4.5vmin;
    width: 968px;
    max-width: 100%;
}
.block-post_list .post-list li {
    padding: 0;
    margin: 0 0 1em;
    line-height: 1;
    letter-spacing: -0.0167em;
}
.block-cta {
    text-align: center;
}
.block-yay-nae {
    text-align: center;
}
.block-yay-nae .yay-nae-cta {
    border: 1px solid currentColor;
    display: inline-block;
    letter-spacing: -0.013em;
    position: relative;
}
.block-yay-nae .yay-nae-cta span.text {
    padding: 1em 1.25em;
    display: inline-block;
}
.block-yay-nae .yay-nae-cta .actions {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.block-yay-nae .yay-nae-cta .actions a {
    box-sizing: border-box;
    display: block;
    padding: 1em 1.25em;
    height: 100%;
    width: 50%;
    position: absolute;
    left: 0;
    transition: transform 0.2s;
}
.block-yay-nae .yay-nae-cta .actions a:last-child {
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}
.block-yay-nae .yay-nae-cta:hover .text {
    opacity: 0;
}
.block-yay-nae .yay-nae-cta:hover .actions {
    display: block;
}
.block-yay-nae .yay-nae-cta:hover .actions a:first-child {
    border-right: 1px solid #e2e2e2;
}
.block-yay-nae .yay-nae-cta:hover .actions.switch a:first-child {
    border-right: 0;
    border-left: 1px solid #e2e2e2;
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}
.block-yay-nae .yay-nae-cta:hover .actions.switch a:last-child {
    -ms-transform: translateX(0);
    transform: translateX(0);
}
